<div class="ui modal" id="modalid2">
    <div class="ui icon header">
        Logowanie
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Nazwa kanału</label>
                <input type="text" name="nazwa" placeholder="Nazwa kanału">
            </div>
            <div class="field">
                <label>Hasło</label>
                <input type="password" name="haslo" placeholder="Hasło">
            </div>     
            <button class="ui button green" type="submit">Zaloguj się</button>
        </div>
    </div>             
</div>